/*
 * Stylesheet for the front page, mostly the form.
 */

div#header {
  float: right;
}

div#header img {
  vertical-align: middle;
}

img#bowflex {
  margin-top: 1em;
}

div#description {
  max-width: 800px;
}

form {
  clear: both;
}

th, td {
  text-align: center;
}

select, input[type=text] {
  border: 1px solid gray;
}

iframe {
  width: 100%;
  min-height: 40em;
  border: 1px solid gray;
}
